<IfModule mod_expires.c>
  ExpiresActive On
  # Кеширование изображений (1 год)
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Кеширование CSS и JavaScript (1 месяц)
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Кеширование шрифтов
  ExpiresByType font/woff2 "access plus 1 year"
</IfModule>